JSP_client/TESTWSJSP/web/WEB-INF/wsdl/localhost_8081/searchForClient/searchForClient.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cearch.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cearch.me.org/" name="searchForClient">
<types>
<xsd:schema>
<xsd:import namespace="http://cearch.me.org/" schemaLocation="http://localhost:8081/searchForClient/searchForClient?xsd=1"/>
</xsd:schema>
</types>
<message name="runSever">
<part name="parameters" element="tns:runSever"/>
</message>
<message name="runSeverResponse">
<part name="parameters" element="tns:runSeverResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="doSearch">
<part name="parameters" element="tns:doSearch"/>
</message>
<message name="doSearchResponse">
<part name="parameters" element="tns:doSearchResponse"/>
</message>
<message name="getDateDiff">
<part name="parameters" element="tns:getDateDiff"/>
</message>
<message name="getDateDiffResponse">
<part name="parameters" element="tns:getDateDiffResponse"/>
</message>
<portType name="searchForClient">
<operation name="runSever">
<input wsam:Action="http://cearch.me.org/searchForClient/runSeverRequest" message="tns:runSever"/>
<output wsam:Action="http://cearch.me.org/searchForClient/runSeverResponse" message="tns:runSeverResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://cearch.me.org/searchForClient/runSever/Fault/IOException"/>
</operation>
<operation name="doSearch">
<input wsam:Action="http://cearch.me.org/searchForClient/doSearchRequest" message="tns:doSearch"/>
<output wsam:Action="http://cearch.me.org/searchForClient/doSearchResponse" message="tns:doSearchResponse"/>
</operation>
<operation name="getDateDiff">
<input wsam:Action="http://cearch.me.org/searchForClient/getDateDiffRequest" message="tns:getDateDiff"/>
<output wsam:Action="http://cearch.me.org/searchForClient/getDateDiffResponse" message="tns:getDateDiffResponse"/>
</operation>
</portType>
<binding name="searchForClientPortBinding" type="tns:searchForClient">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="runSever">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="doSearch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDateDiff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="searchForClient">
<port name="searchForClientPort" binding="tns:searchForClientPortBinding">
<soap:address location="http://localhost:8081/searchForClient/searchForClient"/>
</port>
</service>
</definitions>